.starship-card {
  width: 200px;
  height: 320px;
}

.title {
  margin: 8px 8px;
}

.starship-card:hover {
  box-shadow: 0 0 2px 2px white;
  transform: scale(1.03);
  cursor: pointer;
}

.starship-img {
  width: 198px;
  height: 274px;
  min-width: 198px;
  min-height: 274px;
}

.search-form {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

input:focus {
  box-shadow: none;
}

.navigate-arrow-ml {
  margin-left: 10px;
}

.navigate-arrow-width {
  width: 15%;
  margin-bottom: 15px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 991.98px) {
  .search-form-group {
    display: grid;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .navigate-arrow-width {
    width: 30%;
  }
}

@media screen and (max-width: 575.98px) {
  .starship-card {
    width: inherit;
    height: inherit;
  }

  .starship-img {
    width: inherit;
    height: inherit;
  }

  .navigate-arrow-width {
    width: 47%;
  }
}
