<div class="container">
  <form class="search-form" (ngSubmit)="search()">
    <div class="input-group search-form-group">
      <input type="text"
             placeholder="The starship name or model"
             class="search-input form-control"
             name="search"
             [matAutocomplete]="auto"
             [formControl]="searchFormControl"
             [(ngModel)]="searchValue">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredStarshipsOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <button class="btn btn-black-white" type="submit">Search</button>
    </div>
  </form>

  <div *ngIf="!starshipsList">
    <div class="d-flex center">
      <div class="spinner-border text-light"></div>
    </div>
  </div>

  <div *ngIf="starshipsList">
    <div class="row d-flex justify-content-center">
      <div class="col-xxl-auto col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center text-center"
           *ngFor="let starship of starshipsList.results">
        <div class="starship-card card mt-4" (click)="navigateToStarshipDetail(getStarshipId(starship.url))">
          <img [imageSrc]="'assets/images/starship/' + getStarshipId(starship.url) + '.jpg'"
               [alt]="starship.name"
               class="starship-img card-img-top bg-gray">
          <div class="title">
            <h4>{{starship.name}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-black-white navigate-arrow-width"
              (click)="navigateToPage(pageNumber - 1)"
              [disabled]="!starshipsList.previous ? true : null">
        <
      </button>
      <button class="btn btn-black-white navigate-arrow-ml navigate-arrow-width"
              (click)="navigateToPage(pageNumber + 1)"
              [disabled]="!starshipsList.next ? true : null">
        >
      </button>
    </div>
  </div>

</div>
