<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <img src="assets/images/star-wars-logo.png" class="star-wars-logo">
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-black justify-content-center navbar-separator">
    <a routerLink="/people" routerLinkActive="active-route">People</a>
    <a routerLink="/films" routerLinkActive="active-route">Films</a>
    <a routerLink="/starship" routerLinkActive="active-route">Starship</a>
    <a routerLink="/vehicles" routerLinkActive="active-route">Vehicles</a>
  </nav>
</header>
